# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Env secrets
.env

# Local data / DB
data/
db/
*.sqlite3
*.db

# Django
*.log
staticfiles/
media/

# OS / IDE
.vscode/
.DS_Store
Thumbs.db
